@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #2d132c;
}

.ripple{
    padding: 15px 35px;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    border-radius: 1px;
    background-color: #c72c41;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.ripple:focus{
    outline: none;
}

.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}